<!DOCTYPE html>
<html style="font-size: 130.667px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>WG潮牌喜迎双11抽奖活动</title>
    <style type="text/css">
        .qimo8{ overflow:hidden;}
        .qimo8 .qimo {/*width:99999999px;*/width:8000%;}
        .qimo8 .qimo div{ float:left;}
        .qimo8 .qimo ul{float:left;overflow:hidden; zoom:1; }
        .qimo8 .qimo ul li{float:left; list-style:none; font-size: 24px;margin: 0 1rem;}
    </style>
    <link rel="shortcut icon" href="${rc.contextPath}/statics/css/index.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${rc.contextPath}/statics/plugins/award/styleCJ.css">
    <link rel="stylesheet" type="text/css" href="${rc.contextPath}/statics/plugins/layer_mobile/need/layer.css">
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="shanDeng">
        <div id="luck">
            <table style="border-spacing:.08rem .03rem;">
                <tbody class="background-class">
                <tr>
                    <td class="luck-unit luck-unit-0">
                        <img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/1.png">
                    </td>
                    <td class="luck-unit luck-unit-1">
                        <img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/2.png">
                    </td>
                    <td class="luck-unit luck-unit-2"><img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/3.png"></td>
                </tr>
                <tr>
                    <td class="luck-unit luck-unit-7"><img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/8.png"></td>
                    <td class="cjBtn" id="btn"></td>
                    <td class="luck-unit luck-unit-3"><img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/4.png"></td>
                </tr>
                <tr>
                    <td class="luck-unit luck-unit-6"><img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/7.png"></td>
                    <td class="luck-unit luck-unit-5"><img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/6.png"></td>
                    <td class="luck-unit luck-unit-4"><img class="img-sty" src="${rc.contextPath}/statics/plugins/award/img/5.png"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <input class="phone" id="phone" v-model="phoneNum" placeholder="输入手机号参与抽奖！" type="text">
    </div>

    <div class="rule">
        <p><b>WG潮牌喜迎双11活动规则</b></p>
        <p>1、推荐5名好友有一人下单+购物满299送欧美时尚DW手镯</p>
        <p>2、朋友圈点赞超过20+购物满299可参与一次抽奖活动</p>
        <p>3、朋友圈点赞超过15+全场任购一件服装送COCO香水或Dior亚菲口红</p>
        <p style="text-align: center;">活动有效期为 2018.10.25-2018.10.30</p>
    </div>

    <div class="play">
        <span></span>
        <div class="div">
            <div id="demo" class="qimo8">
                <div class="qimo">
                    <div id="demo1">
                        <ul>
                            <awardlog :item="item" v-for="item in awardLoglist"></awardlog>
                        </ul>
                    </div>
                    <div id="demo2">
                        <ul>
                            <awardlog :item="item" v-for="item in awardLoglist"></awardlog>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="awardPrice" style="display : none">
        <img src="${rc.contextPath}/statics/plugins/award/h5award.png">
        <p><span class="price-num">{{(priceNum!=null&&priceNum!=undefined&&priceNum!=-1)?awardList[priceNum].id:null}}</span></p>
        <p><span class="price-name">恭喜你获得 {{(priceNum!=null&&priceNum!=undefined&&priceNum!=-1)?awardList[priceNum].name:null}}</span></p>
        <div class="btn-confim">
            <a href="#" onclick="closeWindow()"  style="color: #fff;text-decoration:none;">确 定</a>
        </div>
    </div>
</div>


<script src="${rc.contextPath}/statics/plugins/award/jquery-1.8.3.min.js"></script>
<script src="${rc.contextPath}/statics/libs/vue.min.js"></script>
    <script src="${rc.contextPath}/statics/plugins/layer_mobile/layer.js"></script>
<script src="${rc.contextPath}/statics/plugins/award/common.js"></script>
<script src="${rc.contextPath}/statics/plugins/award/award.js"></script>
<script>

</script>
</body>
</html>